@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4a4e49;
    padding: 20px;
}


h1 {
    font-size: 3rem;
    font-family: 'sarala', sans-serif;
    text-align: center;
    margin: 10px 0;
}

input {
    color: aliceblue;
    padding: 2rem;
    outline: none;
    font-size: 2rem;
    font-family: 'sarala', sans-serif;
    border-radius: 25%;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;    
}

.num {
    width: 25%;
    max-width: 100px;
    height: auto;
}

.text{
    width: 50%;
    max-width: 400px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
}

.text1 {
    width: 40%;
    max-width: 100px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.maincolor{
    background-color: black
}

.blue{
    background-color: aqua;
}

.pin{
    background-color: darkorchid;
}

.gre{
    background-color: aquamarine;
}

.pur{
    background-color: darkslateblue;
}

.ora{
    background-color: darkorange;
}

.history{
    background-color: #2e2f30;
    border-radius: 10px;
    text-align: center;
}

.history-container {
    display: flex;
    flex-direction: column;   
    align-items: center;   
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

table, th, tr {
    width: auto;
    border: 3px solid #444;
    border-collapse: collapse;
    padding: 0 2rem;
}

th {
    font-size: 1.5rem;
}

/* Media query para telas menores */
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .calculator-container {
        margin-right: 0;
    }

    .history-container {
        margin-top: 20px;
    }
}






